html,body, main {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* important */
    height: 100%;
}

.about, .menu, footer {
    padding: 20px;
    line-height: 2rem;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
}

h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

h3 {
    font-weight: 300px;
    font-size: 1.5rem;
}

p {
    font-weight: 200;
}


/* Header */
header a {
    text-decoration: none;
    color: white;
}

/* define mobile first */
.navigation {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    background: #494241;
    -webkit-box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px     rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.nav-container {
    max-width: 1200px;
    height: 60px; 
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    /* important */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* important */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-brand a {
    font-size: 1.4rem;
}

.nav-menu {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    background-color: #494241;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 2rem;
    z-index: 200;
}

.active.nav-menu {
    visibility: visible;
}

.nav-menu a {  
    display: block;
    padding: .5rem 2rem;
    color: white;
}

.nav-menu a:hover {
    background: #b7a8a5;
}

.nav-mobile-header, #toggle-open, #toggle-close {
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
}

#toggle-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#toggle-close {
    margin-left: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    margin: 20px;
}

/* Desktop */
@media screen and (min-width: 650px) {
.nav-menu {
        visibility: visible;
        position: static;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;    
        font-size: 1.5rem;
}

.nav-menu a {  
    padding: 0 2rem;
    /* make verticlly same height with container */
    display: inline-block;
    line-height: 60px;
}
#toggle-close, #toggle-open {
    display: none;
} 
}


/* Hero */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("./images/coffee5.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 60px; 
}

.hero-text {
    color: white;
    text-align: center;    
    /* important to align text center vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 780px) {
    .hero {
        height: 80%;
    }
}


/* About */

.about {
    background: #493644;
    color: white;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.image {
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.about .grid-wrapper .image:nth-child(1) {
    background-image: url("./images/coffee1.jpg");
}   

.about .grid-wrapper .image:nth-child(2) {
    background-image: url("./images/coffee2.jpg");
}   

.about .grid-wrapper .image:nth-child(3) {
    background-image: url("./images/coffee3.jpg");
}   

.about .grid-wrapper .image:nth-child(4) {
    background-image: url("./images/coffee4.jpg");
}   

@media screen and (min-width: 650px) {
    .about {
        padding: 50px;
    }
    .grid-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        padding: 50px 120px;
    }
    .grid-wrapper {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
}


/* Menu */
.menu {
    background:#494241;
    color: white;
}
.drink,
.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1rem;
    margin: 20px;
}

.drink .image {
    background-image: url("./images/store1.jpg");
    height: 250px;
}

.food .image {
    background-image: url("./images/store2.jpg");
    height: 250px;
}

@media screen and (min-width: 650px) {
    .menu {
        padding: 50px;
    }
    .menu-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}


@media screen and (min-width: 1024px) {
    .menu {
        padding: 50px 120px;
    }
}

/* Footer */
footer .image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/location.png");
    height: 250px;
    margin: 0 20px;
    position: relative;
    width: 80%;  
    max-width: 400px;
}

footer p {
    line-height: 0.8rem;
}

.footer-wrapper {
    margin-bottom: 80px;
}

.copyright {
    position: absolute;
    /* important */
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 780px) {
    .footer-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}